{% extends 'base.html' %}
{% block body %}
<div class="container mt-5">
    <h2>{{ Ptitle }}</h2>
    
    <div class="row">
        {% for course in courses %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ course.Title }}</h5>
                    <p class="card-text">{{ course.Description[:150] }}...</p>
                    <a href="{{ url_for('course_detail', course_id=course.CourseID) }}" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}